<div class="mt-1" id="skills">
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <span class="mat-elevation-z4 mt-1" fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="100">
                <span class="h4 mt-0 title" fxLayoutAlign="center">SKILLS</span>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxFlex="50">
                        <mat-card data-aos="fade-right">
                            <div fxFlex="35">
                                <div>Language</div>
                                <div>Scripting Language</div>
                                <div>Database</div>
                            </div>
                            <div fxFlex="3">
                                <div>:</div>
                                <div>:</div>
                                <div>:</div>
                            </div>
                            <div fxFlex="60">
                                <div>C, C++, C#, Python, R</div>
                                <div>JavaScript, TypeScript (Angular 2+).</div>
                                <div>SQL, PSQL. Basic Knowledge on NoSQL</div>
                            </div>
                        </mat-card>
                    </div>
                    <div fxFlex="49">
                        <mat-card data-aos="fade-left">
                            <div fxFlex="23">
                                <div>Framework</div>
                                <div>Others</div>
                            </div>
                            <div fxFlex="4">
                                <div>:</div>
                                <div>:</div>
                            </div>
                            <div fxFlex="73">
                                <div>MVC-5, Asp.Net Core, REST API</div>
                                <div>Github, BitBucket, DockerHub, Linux, Power BI, Java Spring Boot.</div>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div fxFlex="20"></div>
</div>
