<div class="mt-1" id="experience" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="1000">
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <span class="mat-elevation-z4 mt-1" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxFlex="100">
                <span class="h4 mt-0 title" fxLayoutAlign="center">WORK EXPERIENCE</span>
                <div class="step step-active">
                    <div>
                      <div class="circle">2</div>
                      <div class="line"></div>
                    </div>
                    <div>
                      <mat-card>
                        <div class="h6 mt-0 title">Snowtex Sportswear Ltd</div>
                        <div class="h7">Software Developer (Sep 19, 2020 to Present)</div>
                        <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                            <div fxFlex="40">
                                <h6>SCP (Snowtex Central Procurement)</h6>
                                <ul>
                                    <li>Create Entry Panel and Input Panel for users.</li>
                                    <li>Design and Developed UI.</li>
                                    <li>Collect project requirement from users.</li>
                                    <li>Create service using .NET Core 3.1 API</li>
                                    <li>Deploy the App into IIS server.</li>
                                </ul>
                            </div>
                            <div fxFlex="50">
                                <h6>Used Technology</h6>
                                <ul>
                                    <li>Angular 9</li>
                                    <li>.NET Core 3.1 API</li>
                                    <li>EF Core Code First Migrations</li> 
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </div>
                      </mat-card>
                    </div>
                </div>
                <div class="step mt-1">
                <div>
                    <div class="circle">1</div>
                    <div class="line"></div>
                </div>
                <div>
                    <div>
                        <mat-card>
                            <div class="h6 mt-0 title">Spectrum Engineering Consortium Ltd</div>
                            <div class="h7">Jr Software Programmer (Aug 05, 2018 to Jan 31, 2020)</div>
                            <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="40">
                                    <h6>Robi-ROC</h6>
                                    <ul>
                                        <li>Create TSD sheet and Pyscript for making database using Table State Data (TSD).</li>
                                        <li>Developed the user interface.</li>
                                        <li>Fully responsive and compatible with multiple browsers.</li>
                                        <li>Work on snag clear and PAT process.</li>
                                    </ul>
                                </div>
                                <div fxFlex="50">
                                    <h6>Used Technology</h6>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Asp.net Web Forms</li> 
                                        <li>SQL</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="40">
                                    <h6>G-ERP</h6>
                                    <ul>
                                        <li>Create documentation in 'Reverse Engineering' way.</li>
                                        <li>Defined component, sub-component, feature, sub-feature, services etc.</li>
                                        <li>Write 'Use Case' and draw BPMN diagram for this project</li>
                                        <li>Work on Meeting and Room Booking Module. (All these works approved by BUET)</li>
                                    </ul>
                                </div>
                                <div fxFlex="50">
                                    <h6>Used Technology</h6>
                                    <ul>
                                        <li>Micro service</li>
                                        <li>Use case</li>
                                        <li>BPMN Diagram (Draw.io)</li> 
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="40">
                                    <h6>SCB-CBRM</h6>
                                    <ul>
                                        <li>Developed the user interface with HTML, CSS, Bootstrap 3 and AngularJS</li>
                                        <li>Fully responsive and compatible with multiple browsers</li>
                                        <li>Create. xlxs, .csv format report for Collateral DB, Credit Card, LoanOps using Spring MVC
                                            framework.</li>
                                        <li>Write store procedure using TSQL.</li>
                                    </ul>
                                </div>
                                <div fxFlex="50">
                                    <h6>Used Technology</h6>
                                    <ul>
                                        <li>HTML</li>
                                        <li>CSS</li>
                                        <li>Bootstrap 3</li>
                                        <li>Spring MVC</li>
                                        <li>AngularJS</li>
                                        <li>Gradle</li> 
                                        <li>MSSQL</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="40">
                                    <h6>RHD PoC</h6>
                                    <ul>
                                        <li>Design and develop the web interface</li>
                                        <li>Integrate REST API to communicate with back-end using Micro-Service Architecture.</li>
                                    </ul>
                                </div>
                                <div fxFlex="50">
                                    <h6>Used Technology</h6>
                                    <ul>
                                        <li>Angular 8</li>
                                        <li>Java Spring Boot</li>
                                        <li>MSSQL</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between start">
                                <div fxFlex="100">
                                    <h6>Others</h6>
                                    <ul>
                                        <li>Work on Expression of Interest (EoI), Proof of Concept (PoC), RFP for the project of Govt. Ministry
                                            like RHD, Ministry of Chittagong Hill Tracts, Ministry of Agriculture, Ministry of Science and
                                            Technology, RAMS LGRD etc.</li>
                                        <li>Work on CMMI Level 3 Appraisal procedure and faced viva with LA on IRP and PPQA.</li>
                                    </ul>
                                </div>
                            </div>
                          </mat-card>
                    </div>
                </div>
                </div>
            </div>
            <!-- <div fxFlex="50"></div> -->
        </span>
    </div>
    <div fxFlex="20"></div>
</div>
