<div class="mt-1" id="about">
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <span class="mat-elevation-z4 mt-1" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="ml-2" fxFlex="45">
                <div class="h4 mt-0 title">About Me</div>
                <p align="justify">From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.</p>
                <p align="justify">I'm a Full-Stack Software Engineer with 2years+ experience in the Software field. Skilled in .Net based technology and Angular. I'm a perfect Team Player</p>
            </div>
            <div fxFlex="50">  
            <span class="h4 mt-0 title"fxLayoutAlign="start">Basic Information</span>
            <mat-card>
                <div fxFlex="35">
                    <div>Father's Name</div>
                    <div>Mother's Name</div>
                    <div>Date of Birth</div>
                    <div>Blood Group</div>
                    <div>Present Address</div>
                    <div>Permanent Address</div>
                </div>
                <div fxFlex="3">
                    <div>:</div>
                    <div>:</div>
                    <div>:</div>
                    <div>:</div>
                    <div>:</div>
                    <div>:</div>
                </div>
                <div fxFlex="60">
                    <div>Md. Abdur Rahim</div>
                    <div>Amena Begum</div>
                    <div>23/01/1995</div>
                    <div>B(+)ve</div>
                    <div>Mirpur-2, Dhaka</div>
                    <div>Village: Hatia, District: Gaibandha, Division: Rangpur</div>
                </div>
            </mat-card>
                <!-- <div class="row">
                    <span class="col-md-4">:</span>
                    <span class="col-md-8">Md. Abdur Rahim</span>
                </div> 
                <div class="row">
                    <span class="col-md-4">Mother's Name:</span>
                    <span class="col-md-8">Amena Begum</span>
                </div> 
                <div class="row">
                    <span class="col-md-4">Date of Birth:</span>
                    <span class="col-md-8">23/01/1995</span>
                </div> 
                <div class="row">
                    <span class="col-md-4">E-mail:</span>
                    <span class="col-md-8">mahabub13d1995@gmail.com</span>
                </div>  
                <div class="row">
                    <span class="col-md-4">Blood Group:</span>
                    <span class="col-md-8">B(+)ve</span>
                </div>  
                <div class="row">
                    <span class="col-md-4">Present Address:</span>
                    <span class="col-md-8">Mirpur-2, Dhaka</span>
                </div>   
                <div class="row">
                    <span class="col-md-4">Permanent Address:</span>
                    <span class="col-md-8">Village: Hatia, District: Gaibandha, Division: Rangpur</span>
                </div>   -->
            </div>
        </span>
    </div>
    <div fxFlex="20"></div>
</div>
