.mat-button, .mat-icon-button, .mat-stroked-button {
    background-color: transparent;
    color: white;
  }
/* mat-toolbar {
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%  !important;
} */
