<header  id="header">
  <mat-toolbar class="container-outer" color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-toolbar-row>
      <h1 fxFlex="100" fxLayoutAlign="center center">PORTFOLIO OF</h1>
      <!-- <span class="menu-spacer"></span>
      <div fxFlex="70">
        <a mat-button routerLink="/about"> ABOUT </a>
        <a mat-button routerLink="/experience"> EXPERIENCE </a>
        <a mat-button routerLink="/projects"> PROJECTS </a>
        <a mat-button routerLink="/skills"> SKILLS </a>
        <a mat-button routerLink="/education"> EDUCATION </a>
        <a mat-button routerLink="/reference"> REFERENCE </a>
        <a mat-button routerLink="/contact"> CONTACT </a>
      </div> -->
    </mat-toolbar-row>
  </mat-toolbar>
</header>