<div class="mt-1" data-aos="fade-up" data-aos-duration="2000" id="education">
    <div fxFlex="20"></div>
    <div fxFlex="60">
        <span class="mat-elevation-z4 mt-1" fxLayout="row" fxLayoutAlign="space-between start">
            <div fxFlex="100">
                <span class="h4 mt-0 title" fxLayoutAlign="center">EDUCATION</span>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-card fxFlex="100">
                        <div fxFlex="12">
                            <div>Degree</div>
                            <div>Univarsity</div>
                            <div>Duration</div>
                        </div>
                        <div fxFlex="3">
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                        </div>
                        <div fxFlex="80">
                            <div>B.Sc. Engg. in CSE</div>
                            <div>Bangladesh University of Business and Technology (BUBT)</div>
                            <div>2014-2018</div>
                        </div>
                    </mat-card>
                </div>
                <div class="mt-1" fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-card fxFlex="50">
                        <div fxFlex="25">
                            <div>Degree</div>
                            <div>College</div>
                            <div>Group</div>
                            <div>CGPA</div>
                            <div>Passing Year</div>
                        </div>
                        <div fxFlex="5">
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                        </div>
                        <div fxFlex="70">
                            <div>H.S.C</div>
                            <div>Savar Model College, Savar, Dhaka.</div>
                            <div>Science</div>
                            <div>4.60</div>
                            <div>2013</div>
                        </div>
                    </mat-card>
                    <mat-card fxFlex="50">
                        <div fxFlex="25">
                            <div>Degree</div>
                            <div>School</div>
                            <div>Group</div>
                            <div>CGPA</div>
                            <div>Passing Year</div>
                        </div>
                        <div fxFlex="5">
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                            <div>:</div>
                        </div>
                        <div fxFlex="70">
                            <div>S.S.C</div>
                            <div>A.E.R.E School & College, Savar, Dhaka.</div>
                            <div>Science</div>
                            <div>4.63</div>
                            <div>2011</div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </span>
    </div>
</div>

<!-- style="background-color: #73C6B6;" -->

