<mat-card  id="intro" class="example-card mat-elevation-z4 mt-1" style="background-image: url('assets/images/introduction.jpg');">
    <div>
        <div fxFlex="15"></div>
        <div fxFlex="70">
            <div fxLayoutAlign="center">
                <a href="#">
                    <img src="assets/images/pasha.png" alt="Image" />
                </a>
            </div>
            <div fxLayoutAlign="center">
                <h2 style="color: white;">Md. Mahabub Al-Islam</h2>
            </div>
            <div fxLayoutAlign="center">
                <h4 style="color: white;">Software Engineer (Full-Stack)</h4>
            </div>
            <div fxLayoutAlign="center">
                <a class="btn text-white" style="background-color: #2D5A70;" data-aos="zoom-in" data-aos-anchor="data-aos-anchor" href="https://drive.google.com/file/d/1hoAz9QwhbyoggQp82kqovQtLdqm7Ny38/view?usp=sharing" target="_blank">Download CV</a>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 10px;">
                <a class="btn text-white" style="border-radius: 50%; background-color: #2D5A70;" href="https://www.linkedin.com/in/md-mahabub-al-islam-pasha/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn text-white" style="border-radius: 50%; background-color: #2D5A70; margin-left: 3px;" href="https://github.com/pasha13d" target="_blank" rel="tooltip" title="Follow me on GitHub">
                    <i class="fa fa-github"></i>
                </a>
                <a class="btn text-white" style="border-radius: 50%; background-color: #2D5A70; margin-left: 3px;" href="https://medium.com/@mahabub13d1995" target="_blank" rel="tooltip" title="Follow me on Medium">
                    <i class="fa fa-medium"></i>
                </a>
                <a class="btn text-white" style="border-radius: 50%; background-color: #2D5A70; margin-left: 3px;" href="https://stackoverflow.com/users/6766975/pasha" target="_blank" rel="tooltip" title="Follow me on Stack Overflow">
                    <i class="fa fa-stack-overflow"></i>
                </a>
            </div>
        </div>
        <div fxFlex="15"></div>
    </div>
</mat-card>
